//import to include button
@import "../Button/Button.scss";
@import "../Hero/Hero.scss";

.container {
  max-width: 1170px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1m;
  .wrapper {
    // box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    .company-info {
      background: rgb(4, 11, 53);
      color:#9ba3ac;
      input{
        display: inline;
        margin:5px;
      }
    }
    .contact {
      background: #9ba3ac;
      p {
        margin: 0;
        label {
          display: block;
          margin-left: 10vw;
          margin-top: 10vh;
          padding-bottom: 0;
          .form-input {
            width: 50vw;
            margin-left: 1vw;
            height: 12vh;
            background: rgb(219, 214, 214);
            transition: .5s;

            &:hover {
              cursor: pointer;
              // border: 1.5px solid rgb(56, 124, 30);
              border-radius: 25px;
              transition: .5s;
            }
          }
        }
      }
    }
  }
}
// body{
//   line-height: 1.6;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   padding: 1m;
// }


.contact form .full {
  grid-column: 1 / 5;
}


.contact form input,
.contact form textarea {
  width: 95%;
  height: 50px;
  padding: 1m;
  border: 1px solid #c9e6ff;
  margin-left: 15px;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }
}

.emailBtn {
  width: 90%;
  height: 50px;
  padding: 1m;
  border: 1px solid #c9e6ff;
  margin-left: 15px;
  margin-right: 15px;
  transition: 1s;
  @include btn;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #242424;
    transition: 1s;
    text-decoration: none;
    border-radius: 25px;

  }
}

@media(min-width: 700px){

  .wrapper{
    display: grid;
    grid-template-columns:1fr 2fr;
    .contact{
      margin: 0;
        }
  }
  .wrapper > *{
    padding: 2em;
  }
  .company-info h3 , .company-info ul , .brand{
    text-align: left;
  }
}